[submodule "mobile"]
	path = mobile
	url = ssh://johna1203@git.codebreak.com/geekylab/GeekyMenuMobile.git
[submodule "admin"]
	path = admin
	url = ssh://johna1203@git.codebreak.com/geekylab/GeekyMenuAdmin.git
[submodule "GeekyOSVagrant"]
	path = GeekyOSVagrant
	url = git@github.com:geekylab/coreos-vagrant.git
[submodule "GeekyOSEasyControl"]
	path = GeekyOSEasyControl
	url = git@github.com:geekylab/GeekyOSEasyControl.git
[submodule "GeekyOSServerApp"]
	path = GeekyOSServerApp
	url = git@github.com:geekylab/GeekyOSServerApp.git
[submodule "GeekyMenuCloudApp"]
	path = GeekyMenuCloudApp
	url = git@github.com:geekylab/GeekyMenuCloudApp.git
