[submodule "mobile"]
	path = mobile
	url = ssh://johna1203@git.codebreak.com/geekylab/GeekyMenuMobile.git
[submodule "admin"]
	path = admin
	url = ssh://johna1203@git.codebreak.com/geekylab/GeekyMenuAdmin.git
